
<div class="page-header">
  <h3>最新通知</h3>
</div>

<div class="row">
  <ul class="list-unstyled">
    <% @notifications.each do |notification| %>
      <li class="message-time-list">
        <div class="col-xs-10">
        <%=  my_date(notification.created_at) %> |
        <%=  raw notification.content %>
        <%= content_tag(:span, "新通知", class: "label label-danger") unless notification.read %>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<%= will_paginate @notifications, renderer: BootstrapPagination::Rails, class: "will_paginate" %>

