<div class="page-header">
  <h4><strong>欢迎&nbsp;&nbsp;<%= link_to @user.unit, user_path(@user) %>&nbsp;&nbsp;登录上海社区体育配送系统</strong></h4>
  <p>当前使用者<%= link_to @user.name, user_path(@user) %>，登录时间: <%= my_time(Time.now) %></p>
</div>
