<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= link_to @resource.title,@resource.attachment.url %>
</p>



<%= link_to '修改', edit_resource_path(@resource) %> |
<%= link_to '列表页', resources_path %>
