<%= simple_form_for(@category) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: '类别名称' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "提交", class: "btn btn-primary" %>
  </div>
<% end %>
