<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= image_tag "logo001.png", class: "logo" %>
    </div>

  </div>
</nav>